[Unit]
Description=lazycast server

[Service]
ExecStart=/home/pi/lazycast/mice.py
WorkingDirectory=/home/pi/lazycast

[Install]
WantedBy=default.target
WantedBy=lightdm.service
